<header></header>
<pending-message></pending-message>

<div class="alert alert-danger" ng-show="error">
    There was a problem logging in. Please try again.
</div>
<form role="form" ng-submit="addAuction()" style="padding: 40px;" ng-cloak="">

    <md-content>
    <div class="form-group">
        <label for="name">Name:</label> <input type="text" class="form-control" id="name" name="name" ng-model="credentials.name"/>
    </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="5" ig="description" name="description" ng-model="credentials.description"></textarea>
        </div>
    <div class="form-group">
        <label class="foo">Starting Bid:</label>
        <!--<span class="input-group-addon">$</span>-->
        <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" name="firstBid" ng-model="credentials.firstBid"/>
    </div>
        <div class="form-group">
            <label class="foo">Buyout Price:</label>
            <!--<span class="input-group-addon">$</span>-->
            <input type="number" min="0" step="0.01" value="0" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" name="buyPrice" ng-model="credentials.buyPrice"/>
        </div>
    <div class="form-group">
        <label for="country">Country:</label> <input type="text"
                                                   class="form-control" id="country" name="country" ng-model="credentials.country"/>
    </div>
    <div class="form-group">
        <label for="latitude">Latitude:</label> <input type="text"
                                                       class="form-control" id="latitude" name="latitude" ng-model="credentials.latitude"/>
    </div>
    <div class="form-group">
        <label for="longitude">longitude:</label> <input type="text"
                                                           class="form-control" id="longitude" name="longitude" ng-model="credentials.longitude"/>
    </div>
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <md-datepicker ng-model="credentials.startDate" md-placeholder="Start Date:"></md-datepicker>
    </div>

        <div class="form-group">
            <label for="endDate">End Date:</label>
            <md-datepicker ng-model="credentials.endDate" md-placeholder="End Date:"></md-datepicker>
        </div>

        <div class="form-group">
            <md-button type="submit" ng-disabled="buttonDisabled">Add Auction</md-button>
        </div>
    </md-content>


</form>