<header></header>
<pending-message></pending-message>

    <div class="well well-sm">
        <label>Name: <input ng-model="search.name"></label><br>
        <label>Description: <input ng-model="search.description"></label><br>
        <label>Bid Price Range: <input type="number" name="filterBidMin" ng-model="filterModelMin.bid" /> to <input type="number" name="filterBidMax" ng-model="filterModelMax.bid" /></label><br>
        <div class="btn-group">
            <a href="#/auctions" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#/auctions" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div ng-repeat="auction in auctions | filter:search:strict | filter:byRange('currently', filterModelMin.bid, filterModelMax.bid)" class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" ng-src="{{auction.images[0].photoPath}}"  height="195" width="121" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading"><b>{{auction.itemId}}</b>. {{auction.name}}</h4>
                    <p class="group inner list-group-item-text">{{auction.description}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                Highest bid: $ {{auction.currently}}</p>
                            <p class="lead">
                                Buyout price: $ {{auction.buyPrice}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#/auction/{{auction.itemId}}">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
